/* - Reset (http://meyerweb.com/eric/tools/css/reset/)
-------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* - Grid
-------------------------------------------------------*/
.container {
	width: 710px;
	margin: 0 auto;
}
.column,div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12,div.span-13,div.span-14,div.span-15,div.span-16,div.span-17,div.span-18 {
	float: left;
	margin-right: 10px;
}
.last,div.last {
	margin-right: 0;
}
.span-1{width:30px;}
.span-2{width:70px;}
.span-3{width:110px;}
.span-4{width:150px;}
.span-5{width:190px;}
.span-6{width:230px;}
.span-7{width:270px;}
.span-8{width:310px;}
.span-9{width:350px;}
.span-10{width:390px;}
.span-11{width:430px;}
.span-12{width:470px;}
.span-13{width:510px;}
.span-14{width:550px;}
.span-15{width:590px;}
.span-16{width:630px;}
.span-17{width:670px;}
.span-18{width:710px;margin-right:0;}


/* - HTML Elements
-------------------------------------------------------*/
html {
	overflow-y: scroll;
}
body {
	font-family: Palatino, Georgia, serif;
	font-size: 16px;
	line-height: 1.5;
	color: #000;
	padding-bottom: 20px;
	background: #e9e7e6;
}
a,a:visited {
	color: #1155cc;
	text-decoration: none;
}
a:hover,a:active {
	color: #1155cc;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	font-family: Helvetica, Arial, sans-serif;
}
h2 {
	-webkit-font-smoothing: antialiased;
	color: #444;
	font-size: 1.2em;
	margin-bottom: 0.4em;
}
h2 a {
	text-decoration: none;
}
h2.border {
	border-bottom: 1px solid #cac8c6;
}
h3 {
	font-size: 1em;
	margin-bottom: 0.2em;
	font-weight: bold;
}
p {
	margin:0 0 1.2em;
}
abbr {
	border-bottom: 1px dotted #ccc;
	cursor: help;
}
ul {
	margin: 0 0 1.5em 1em;
}
li {
	list-style-type: disc;
}
hr.space {
	border: none;
	margin: 20px 0;
	clear: both;
	width: 100%;
}

/* - Structure
-------------------------------------------------------*/
header {
	border-bottom: 1px solid #cac8c6;
	padding: 8px 0;
	line-height: 1;
	background-color: #DBDBDB;
}
header p {
	margin-bottom: 0;
}
#logo {
	float: left;
	font-family: Helvetica;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -1px;
	width: 300px;
}
#logo a {
	color: #545454;
	text-decoration: none;
}
#logo a:hover {
	color: #000;
}
nav ul {
	float: right;
	text-align: right;
	width: 330px;
	margin: 0;
}
nav li {
	list-style-type: none;
	display: block;
	padding-left: 20px;
	float: right;
}
nav li a {
	display: block;
	float: right;
	font-weight: bold;
	text-decoration: none;
	font-family: Helvetica, Arial;
	font-size: 14px;
	padding: 4px 7px 4px 6px;
}
nav li.selected a,
nav li.selected a:hover {
	color: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1155cc;
}
nav li a:hover {
	text-decoration: none;
	color: #000;
}
.site-wrap {
	padding: 1.5em 0;
	border-top: 1px solid #FFF;
}
#content-wrap {
	margin: 0 auto;
	padding: .8em 0;
	width: 730px;
}
footer p {
	padding: 1em 0 0;
	margin: 1em 0 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	border-top: 1px solid #cac8c6;
}

/* - Content
-------------------------------------------------------*/
.post h2 {
	padding-left: 120px;
}
.post-meta {
	margin-top: 3px;
	font-size: 10px;
	font-family: Helvetica, Arial;
}
.pill {
	padding: 4px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #FFF;
}
a.pill {
	background: #1155cc;
	text-decoration: none;
	color: #FFF;
}
a:hover.pill {
	background: #000;
}
time.pill {
	background: #000;
	font-weight: normal;
}
.title {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	margin-bottom: 1px;
}
.project a:hover {
	text-decoration: none;
	color: #000;
}
.subtitle {
	color: #4c4c4c;
	font-size: 12px;
	font-family: Helvetica, sans-serif;
}

/* - Misc 
-------------------------------------------------------*/
.separator {
	border-top: 1px solid #cac8c6;
	padding: .5em 0 0;
	margin: .5em 0 0;
}
.meta {
	color: #808080;
}
img.callout {
	float: left;
	margin: 0 5px 0 0;
	border: 2px solid #000;
}
.clearfix:after,.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
.clearfix,.container {
	display: block;
}
.clear {
	clear: both;
}
div.border {
	padding-right: 4px;
	margin-right: 5px;
	border-right: 1px dotted #BEBEBE;
}
div.colborder {
	padding-right: 24px;
	margin-right: 25px;
	border-right: 1px dotted #BEBEBE;
}
.tile {
	border: 1px solid #cac8c6;
	padding: 3px;
	border-radius: 3px;
	display: block;
	margin-bottom: 5px;
	background-color: #FFF;
}
a:hover .tile {
	border-color: #3061BE;
	text-decoration: none;
}

/* - Code
-------------------------------------------------------*/
code {
	font-family: Consolas, Monaco, monospace;
	font-size: 12px;
	background: #FFF;
}
pre,
#content-wrap .gist .gist-file .gist-data pre {
	font-family: Consolas, Monaco, monospace !important;
	font-size: 12px;
	padding: 5px 10px;
	background: #fff !important;
	font-weight: bold;
	overflow: auto;
	border: none !important;
}
#content-wrap .gist .gist-file .gist-meta {
	background: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding-left: 0;
	padding-right: 0;
}
#content-wrap .gist .gist-file .gist-meta a,
#content-wrap .gist .gist-file .gist-meta a:visited {
	color: #3061BE;
}
#content-wrap .gist .gist-file .gist-meta a:hover,
#content-wrap .gist .gist-file .gist-meta a:active {
	color: #000;
}
#content-wrap .gist .gist-file {
	border: none;
}
div.highlight {
	margin-bottom: 1.2em;
}

/*--[ Retina Displays ]--*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	body {
		-webkit-font-smoothing: antialiased;
	}
}

/*--[ Highlight ]--*/
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */