/* - Reset (http://meyerweb.com/eric/tools/css/reset/)
-------------------------------------------------------*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol,ul {
	list-style: none;
}
blockquote,q {
	quotes: none;
}
blockquote:before,blockquote:after,
q:before,q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	width: 630px;
	margin: 0 auto;
	overflow: hidden;
}

/* - HTML Elements
-------------------------------------------------------*/
body {
	font-family: Georgia;
	font-size: 13px;
	line-height: 1.5em;
}
a,a:visited {
	color: #4B6799;
}
a:hover,a:active {
	color: #000;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	font-family: Arial;
}
h1 {
	font-size:3em;
	line-height:1;
	margin-bottom:0.5em;
}
h2 {
	font-size:2em;
	margin-bottom:0.75em;
}
p {
	margin:0 0 1.5em;
}
pre {
	font-family: Consolas, Monaco, monospace;
	font-size: 12px;
	padding: 5px 10px;
	background: #E9E9E9;
	font-weight: bold;
	overflow: auto;
}

/* - Structure
-------------------------------------------------------*/
#header {
	background: #D7D7D7;
	border-bottom: 2px solid #BEBEBE;
	padding: 8px 0;
	margin-bottom: 1.5em;
	line-height: 1;
}
#header p {
	margin-bottom: 0;
}
#logo {
	float: left;
	font-family: Helvetica;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -1px;
	width: 300px;
}
#logo a {
	color: #545454;
	text-decoration: none;
}
#logo a:hover {
	color: #000;
}
#nav {
	float: right;
	padding-top: 4px;
	text-align: right;
	width: 330px;
}
#nav li {
	display: inline;
	padding-left: 20px;
}
#nav li a {
	font-weight: bold;
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
}
#footer p {
	font-family: Arial;
	font-size: 11px;
}
.post {
	border-bottom: 1px dotted #BEBEBE;
	padding: 0 0 1.5em;
	margin: 0 0 1.5em;
	overflow: hidden;
}
.post h2 {
	padding-left: 120px;
}
.post-meta {
	width: 110px;
	margin-right: 10px;
	float: left;
}
.post-meta p {
	font-size: 10px;
	color: #424242;
	font-family: Verdana;
}
.post-content {
	width: 510px;
	float: left;
	font-size: 15px;
	color: #424254;
}


/* - Prettify (http://code.google.com/p/google-code-prettify/)
-------------------------------------------------------*/
.str {
	color: #080
}
.kwd {
	color: #008
}
.com {
	color: #800
}
.typ {
	color: #606
}
.lit {
	color: #066
}
.pun {
	color: #660
}
.pln {
	color: #000
}
.tag {
	color: #008
}
.atn {
	color: #606
}
.atv {
	color: #080
}
.dec {
	color: #606
}