<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Ben Ubois | {{ page.title }}</title>
	<link rel="alternate" type="application/atom+xml" title="Ben Ubois - Atom" href="http://feeds.feedburner.com/benubois" />
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="all" />
</head>

<body>

	<div id="header">
		<div class="container">
			<p id="logo"><a href="/">Ben Ubois</a></p>
			<ul id="nav">
				<li><a href="/archive.html">Archive</a></li>
				<li><a href="/about.html">About</a></li>
			</ul>
		</div>
	</div>

	<div id="content-wrap">
		<div class="container">
			
		{{ content }}
			
		</div>
	</div>

	<div id="footer" class="container">
		<p>Copyright &copy; 2009 <a href="mailto:ben@benubois.com">Ben Ubois</a></p>
	</div>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try { var pageTracker = _gat._getTracker("UA-172060-6"); pageTracker._trackPageview(); } catch(err) {}
	</script>
</body>
</html>
